# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
# Local Settings
.vscode
**/CMakeFiles/
*.cmake
Makefile
CMakeCache.txt
cmake_install.cmake
build/
CMakeUserPresets.json
RType
r-type_server
r-type_client